@import 'main.css';

.table-view {
    -fx-border-color: #168AAD;
    -fx-border-width: 5px;
}

.table-view .column-header-background .label {
    -fx-background-color: #168AAD;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .table-cell{
    -fx-font-size: 24px;
    -fx-background-color: white;
}

.table-row-cell {
    -fx-border-color: #168AAD;
    -fx-table-cell-border-color: #168AAD;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: black;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}